# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.tfstate.lock.info

# Terraform variables / secrets
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Application
Application/.venv/
Application/__pycache__/

# ZIP/build artifacts
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
